#sobre-nos .intro-bg {
  box-shadow: none;
  position: relative;
  padding: 0;
}

#sobre-nos .intro {
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 20px;
}

.intro-img {
  z-index: 1;
}

#sobre-nos .intro-img img {
  width: 100%;
  max-height: 600px;
  object-fit: contain;
}

#sobre-nos .intro-bg::before {
  content: "";
  background: url("/imgs/intro-sobre-nos-fundo.png") no-repeat left top;
  background-size: contain;
  height: 100%;
  width: 100%;
  top: -10%;
  left: 55%;
  position: absolute;
  z-index: 0;
}

#sobre-nos {
  background-color: var(--cor-a-3);
}

#sobre-nos .texto-intro h1 {
  max-width: 10ch;
}

.trajetoria-img {
  z-index: 0;
}

.trajetoria-img img {
  object-fit: contain;
  width: 100%;
  filter: drop-shadow(15px 20px 20px rgba(0, 0, 0, 0.25));
}

.trajetoria {
  padding: 0 60px;
}

.trajetoria-txt {
  padding-top: 120px;
  height: fit-content;
  z-index: 0;
}

.trajetoria-bg {
  position: relative;
  background-color: #fff;
}

.wave2 {
  position: relative;
}

.wave2::after {
  content: "";
  display: block;
  background: url("/imgs/decorador-peça.png") no-repeat;
  background-size: 50%;
  height: 200px;
  width: 180px;
  position: absolute;
  bottom: 15%;
  left: 10%;
  rotate: -45deg;
}

.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(142% + 1.3px);
  height: 280px;
}

.wave2 .shape-fill,
.wave .shape-fill {
  fill: #e3f2f7;
}

.wave2 {
  padding-top: 80px;
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.wave2 svg {
  position: relative;
  display: block;
  width: calc(151% + 1.3px);
  height: auto;
}

@media (max-width: 800px) {
  #sobre-nos .intro {
    grid-template-columns: 1fr;
  }
  #sobre-nos .texto-intro {
    place-self: start;
    padding-top: 80px;
    padding-bottom: 40px;
  }
  #sobre-nos .texto-intro p {
    max-width: max-content;
  }
  .trajetoria-txt {
    grid-row: 1;
    margin-top: 80px;
    margin-bottom: 40px;
  }
  .trajetoria-img img {
    object-fit: cover;
    object-position: top;
    height: 600px;
  }
  .wave2::after {
    bottom: -15%;
  }
}
