body {
  overflow-x: hidden;
}

.objetivos {
  margin-top: 40px;
  place-content: center;
  position: relative;
  padding-bottom: 80px;
}

.objetivos h1 {
  text-align: center;
  margin: 0;
}

.objetivos-paragrafo {
  text-align: right;
}

.video {
  gap: 0;
  margin: auto 0;
  aspect-ratio: 16/9;
  position: relative;
}

.video iframe {
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  border: solid 12px #fff;
  border-radius: 5px;
}

.video::after {
  content: "";
  background-image: url("/imgs/decorador-balao.png");
  display: inline-block;
  height: 120px;
  width: 84px;
  rotate: -30deg;
  position: absolute;
  bottom: -80px;
  left: 5%;
}

.video::before {
  content: "";
  display: block;
  background: url("/imgs/decorador-peça.png") no-repeat;
  background-size: contain;
  height: 120px;
  width: 120px;
  position: absolute;
  rotate: -50deg;
  right: 5%;
  top: -80px;
  z-index: 1;
}
/* 
.objetivos::after {
  content: "";
  display: inline-block;
  background: url("/imgs/decorador-cobra-amarelo.png");
  width: 100%;
  height: 19px;
  position: absolute;
  bottom: 0;
  left: 60%;
  overflow: hidden;
} */

@media (max-width: 800px) {
  .objetivos-paragrafo {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .video::after,
  .video::before {
    display: none;
  }
}
