body {
  overflow-x: hidden;
}

.objetivos {
  place-content: center;
  position: relative;
}

.objetivos p { 
  margin-bottom: 40px;
}

.video {
  gap: 0;
  position: relative;
  align-self: center;
}

.video iframe {
  margin: auto 0;
  aspect-ratio: 16/9;
  box-sizing: border-box;
  width: 100%;
  border: solid 12px #fff;
  border-radius: 5px;
}

.video::after {
  content: "";
  background-image: url("/imgs/decorador-balao.png");
  display: inline-block;
  height: 120px;
  width: 84px;
  rotate: -30deg;
  position: absolute;
  bottom: -80px;
  left: 5%;
}

.video::before {
  content: "";
  display: block;
  background: url("/imgs/decorador-peca.png") no-repeat;
  background-size: contain;
  height: 120px;
  width: 120px;
  position: absolute;
  rotate: -50deg;
  right: 5%;
  top: -80px;
  z-index: 1;
}

@media (max-width: 800px) {
  .objetivos {
    max-width: 520px;
  }
  .objetivos-img img {
    max-height: 400px;
  }
}

@media (max-width: 600px) {
  .video::after,
  .video::before {
    display: none;
  }
}
