#sobre-nos .intro-bg {
  box-shadow: none;
  position: relative;
  padding: 0;
}

#sobre-nos .intro {
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 20px;
}

.intro-img {
  z-index: 1;
}

#sobre-nos .intro-img img {
  width: 100%;
  max-height: 600px;
  object-fit: contain;
}

#sobre-nos .intro-bg::before {
  content: "";
  background: url("/imgs/intro-sobre-nos-fundo.png") no-repeat left top;
  background-size: contain;
  height: 100%;
  width: 100%;
  top: -10%;
  left: 55%;
  position: absolute;
  z-index: 0;
}

#sobre-nos {
  background-color: var(--cor-a-3);
}

#sobre-nos .texto-intro h1 {
  max-width: 10ch;
}

.objetivos-img img {
  object-fit: cover;
  object-position: left top;
  width: 100%;
}

.objetivos-txt {
  max-height: fit-content;
  padding-top: 120px;
  text-align: left;
  z-index: 3;
}

.objetivos-bg {
  position: relative;
  background-color: #fff;
  padding-bottom: 180px;
}

.wave {
  position: absolute;
  width: 100%;
  overflow: hidden;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(142% + 1.3px);
  height: 280px;
}

.wave2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

#sobre-nos .wave2 {
  transform: rotate3d(0, 1, 0, 180deg);
}

#sobre-nos .wave2::after {
  content: "";
  display: block;
  background: url("/imgs/decorador-peça.png") no-repeat;
  background-size: contain;
  height: 100%;
  width: 80px;
  position: absolute;
  rotate: -45deg;
  bottom: -100px;
  left: 10%;
}

.wave2 .shape-fill,
.wave .shape-fill {
  fill: #e3f2f7;
}

.wave2 svg {
  position: relative;
  display: block;
  width: calc(151% + 1.3px);
  z-index: 2;
}

.trajetoria {
  padding: 0 60px;
  margin: 0 auto;
  text-align: center;
  max-width: 1000px;
}

@media (max-width: 800px) {
  #sobre-nos .intro {
    grid-template-columns: 1fr;
  }
  #sobre-nos .texto-intro {
    place-self: start;
    padding-top: 80px;
    padding-bottom: 40px;
  }
  #sobre-nos .texto-intro p {
    max-width: max-content;
  }
  .objetivos-txt {
    grid-row: 1;
    margin-top: 80px;
  }
  .objetivos-bg{
    padding: 0;
  }
  .wave2::after {
    bottom: -50%;
  }
}

@media (max-width: 600px) {
  .objetivos-img img {
    max-height: 400px;
  }
  #sobre-nos .wave2::after {
    bottom: -60px;
    left: 80%;
    background-size: 80%;
  }
}
