#servicos .wave {
  transform: rotate3d(0, 1, 0, 180deg);
}

#servicos .wave .shape-fill {
  fill: #fff;
}

#servicos .wave2 {
  position: relative;
  height: auto;
  background-color: var(--cor-a-2);
}

#servicos main {
  background-color: var(--cor-a-3);
}

#servicos .intro-bg {
  background-color: var(--cor-a-2);
  padding-bottom: 0;
}

.servicos-img {
  place-content: center;
}

.servicos-img img {
  border-radius: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  object-fit: cover;
  max-height: 420px;
  object-position: top;
  aspect-ratio: 1/2;
  width: 100%;
}

.texto-servicos {
  padding-top: 160px;
  gap: 20px;
  background: url("/imgs/nuvens-e-balao.png") no-repeat right;
  padding-bottom: 80px;
}

.servicos p {
  max-width: 45ch;
}

.palestras {
  position: relative;
  padding-bottom: 20px;
}

.palestras h1::before {
  content: "";
  display: flex;
  height: 40px;
  width: 40px;
  background: url("/imgs/icones/coroa-rei.png");
  background-size: contain;
}

.palestras::after {
  content: "";
  display: block;
  background: url("/imgs/decorador-peça.png");
  width: 100px;
  height: 150px;
  background-size: contain;
  position: absolute;
  bottom: -80px;
  right: 5%;
  z-index: 1;
}

.texto-palestras {
  width: fit-content;
  place-self: top;
}

.workshops {
  background-color: var(--cor-a-3);
}

.workshops h1::before {
  content: "";
  display: flex;
  height: 40px;
  width: 40px;
  gap: 40px;
  background: url("/imgs/icones/coroa-rainha.png");
  background-size: contain;
}

@media (max-width: 800px) {
  .texto-servicos {
    background: url("/imgs/nuvens.png");
  }
  .palestras::after {
    right: 80%;
    bottom: -120px;
  }
  .palestras::after {
    display: none;
  }
}
