#noticia main div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: end;
}

#noticia main div::after {
  margin: 24px 0;
  content: "";
  width: 100%;
  background: #bababa;
  height: 2px;
}

.redes-noticia {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
}

.noticia-txt .container {
  grid-template-columns: 1fr;
  gap: 20px;
}

.noticia-txt {
  text-wrap: balance;
}

.noticia-txt h3 {
  margin-top: 20px;
}

.noticia-txt img {
  width: 100%;
  max-height: 520px;
  object-fit: cover;
  object-position: 0 -250px;
  margin: 40px 0;
}

@media (max-width: 650px) {
  .noticia-txt img {
    object-position: center;
    margin: 0;
  }
}
