.header-bg {
  background-color: #fff;
}

.header {
  max-width: 1200px;
  margin: 12px auto;
  padding: 0 40px;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.header ul {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: max-content;
}

.header li {
  padding: 12px;
}

.header-botoes {
  display: flex;
  gap: 20px;
}

@media (max-width: 800px) {
  .header {
    gap: 0;
  }
  .header-botoes {
    padding: 8px 0;
    gap: 12px;
    margin: 0 auto;
  }
}
