.header-bg {
  background-color: #fff;
}

.header {
  max-width: 1200px;
  margin: 12px auto;
  padding: 0 40px;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.header li a {
  padding: 12px 0;
  position: relative;
}

.header li a::after {
  content: " ";
  display: block;
  height: 2px;
  background-color: var(--cor-a3);
  transition: 0.3s;
  width: 0;
  position: absolute;
}

.header li a:hover::after {
  display: block;
  width: 100%;
}

.header ul {
  max-width: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  width: max-content;
}

.header-botoes {
  display: flex;
  gap: 12px;
}