.doar {
  background: linear-gradient(
    to bottom,
    var(--cor-a-2) 30%,
    var(--cor-a-3) 30%
  );
  z-index: 2;
}

.doar img {
  border: 10px solid #ffffff;
  height: auto;
  max-width: 100%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  z-index: 1;
  margin-bottom: 10px;
}

.doar .container {
  position: relative;
}

.doar .container::before {
  content: "";
  display: block;
  position: absolute;
  background: url("/imgs/decorador-mario.png");
  height: 210px;
  width: 110px;
  right: 120px;
  top: -100px;
}

.doar-texto {
  position: absolute;
  padding: 40px;
  text-align: center;
  max-width: 280px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  left: 15%;
  top: 15%;
  z-index: 2;
}

.doar-texto p {
  margin-bottom: 24px;
}

.doar-texto h2:first-of-type {
  text-transform: uppercase;
  margin-bottom: 16px;
}

@media (max-width: 800px) {
  .doar img {
    display: none;
  }
  .doar-texto {
    position: static;
    max-width: 400px;
    margin: 0 auto;
  }
}
