.intro-bg {
  background-color: var(--cor-a-3);
  padding-bottom: 80px;
  overflow: hidden;
  box-shadow: inset 0 -100px #fff;
  position: relative;
}

#home .intro {
  grid-template-columns: 2fr 1fr;
  height: 100%;
}

.intro .btn1 {
  display: inline-block;
  margin-right: 12px;
}

#home .intro-bg::after {
  content: "";
  background: url("/imgs/img-principal-home.png") no-repeat left bottom;
  background-size: contain;
  height: 1000px;
  width: 100%;
  top: -55%;
  left: 50%;
  position: absolute;
}

@media (max-width: 1080px) {
  #home .intro-bg::after {
    top: -40%;
  }
}

.texto-intro {
  padding: 120px 0;
  place-self: end;
  max-width: 100%;
  z-index: 2;
}

.texto-intro p {
  margin-top: 12px;
  margin-bottom: 36px;
  max-width: 35ch;
}

section h1 {
  margin-bottom: 40px;
}

.ca,
.cf {
  text-align: center;
  align-items: center;
}

.decorador-balao {
  display: grid;
  place-content: center;
}

.ca p {
  max-width: 60ch;
  margin: 0 auto;
}

.img-ca img {
  width: 100%;
}

.texto-cf {
  text-align: left;
  margin-bottom: 40px;
  margin-top: 40px;
  z-index: 2;
}

.texto-cf h1,
.texto-cf p {
  margin-bottom: 40px;
}

.lista button {
  padding-bottom: 12px;
  position: relative;
  cursor: pointer;
  max-width: 32ch;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
}

.lista button::before {
  content: "";
  background: url("/imgs/icone-x.svg") no-repeat;
  display: inline-block;
  position: absolute;
  left: -40px;
  top: 6px;
  width: 24px;
  height: 24px;
}

.lista dd {
  display: none;
}

.lista dd.ativa {
  display: block;
}

.lista button[aria-expanded="true"]::before {
  transform: rotate(45deg);
  transition: 0.3s;
}

.na-bg {
  background: url("/imgs/decoradorbg-vermelho.png") no-repeat;
  overflow: hidden;
}

.na {
  padding-top: 60px;
}

.btn1.container {
  position: relative;
}

.texto-cf .btn1::after {
  content: "";
  position: absolute;
  background: url("/imgs/decorador-cobra-amarelo.png") no-repeat;
  height: 20px;
  overflow: hidden;
}

.parceiros {
  margin-top: 80px;
  margin-bottom: 40px;
}

.parceiros h1,
.sintomas-texto h1 {
  text-align: center;
  margin-bottom: 40px;
}

.parceiros-conteudo {
  padding: 60px;
  overflow: scroll;
}

.parceiros-conteudo ul {
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 0;
  height: fit-content;
}

.parceiros-conteudo img {
  height: 200px;
  object-fit: cover;
}

.sintomas-texto {
  max-width: 100ch;
  gap: 0;
  text-align: center;
  margin: 0 auto;
  margin-top: 80px;
}

.sintomas {
  margin-top: 80px;
  gap: 40px;
  grid-template-columns: repeat(3, 1fr);
  place-items: start;
  place-content: center;
  place-self: center;
}

.sintomas h2::before {
  content: "";
  display: inline-block;
  margin-right: 12px;
  background: url("/imgs/decorador-lista-sintomas.png");
  width: 20px;
  height: 20px;
}

.sintomas h2::after {
  margin-top: 8px;
  margin-bottom: 12px;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #e3e3e3;
}

@media (max-width: 800px) {
  #home .intro-bg::after {
    top: -65%;
  }
  .ca {
    margin-bottom: 64px;
  }
  .cf,
  .na,
  .texto-intro {
    grid-template-columns: 1fr;
  }
  .cf,
  .cf button {
    text-align: center;
  }
  .na h1 {
    margin-top: 40px;
  }
  .parceiros h1 {
    margin: 0;
  }
  #home .texto-intro p {
    max-width: 30ch;
  }
  .lista {
    place-self: center;
  }
  .lista button::before {
    background-size: 70%;
    left: -28px;
    top: 0.5rem;
  }
  .texto-cf {
    max-width: 42ch;
    place-self: center;
    margin: 0 auto;
    text-align: center;
  }
  .texto-cf p {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .decorador-balao {
    margin-bottom: 64px;
  }
  .sintomas {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  #home .intro {
    grid-template-columns: 1fr;
    max-width: 100%;
    gap: 0;
  }
  .texto-intro {
    padding: 40px 0;
  }
  .intro-bg {
    box-shadow: none;
    padding: 0;
    margin-bottom: 40px;
  }
  .intro-bg::after {
    display: none;
  }
}
