.diretores-bg {
  background-color: var(--cor-a-2);
  text-align: center;
  margin-top: 120px;
  padding-top: 120px;
  padding-bottom: 180px;
  position: relative;
}

.diretores-bg h1 {
  display: inline-block;
  max-width: 16ch;
}

.diretores-bg::before {
  content: "";
  display: block;
  background: url("/imgs/decorador-peça.png") no-repeat;
  background-size: contain;
  height: 120px;
  width: 120px;
  position: absolute;
  right: 80px;
  top: -64px;
}

.diretor p {
  max-width: 38ch;
  margin: 0 auto;
}

.diretor img {
  display: grid;
  margin: 0 auto;
  padding: 40px;
  padding-top: 20px;
  max-width: 100%;
  height: 480px;
  box-sizing: border-box;
  object-fit: cover;
  border-radius: 140px;
  filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.125))
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.diretor:first-of-type::before {
  content: "";
  display: block;
  margin: 0 auto;
  background: url("/imgs/icones/coroa-rei.png") no-repeat;
  width: 40px;
  height: 40px;
}

.diretor:nth-child(2):before {
  content: "";
  display: block;
  margin: 0 auto;
  background: url("/imgs/icones/coroa-rainha.png") no-repeat;
  width: 40px;
  height: 40px;
}

.diretor span {
  display: block;
  color: #a4d22a;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .diretores-bg
  .diretores-bg {
    margin-top: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .diretor img {
    padding: 20px;
  }
}
