.footer-bg {
  background-color: #fff;
}

.footer {
  max-width: 1600px;
  margin: 0 auto;
  padding: 80px;
}

.footer-txt {
  background-color: var(--cor-a-3);
  text-align: center;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 80px;
}

.footer-btn {
  align-items: center;
  place-items: center;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  gap: 20px;
  padding: 40px;
}

.footer-btn a {
  width: 280px;
}

.footer nav {
  display: grid;
  place-self: right;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
  width: 100%;
  padding-bottom: 60px;
}

.footer nav::before {
  content: "";
  display: grid;
  grid-column: 1/-1;
  width: auto;
  height: 60px;
  background: url("/imgs/logo-monocromatica.png") no-repeat -12px;
}

.footer {
  position: relative;
}

.footer::before {
  content: "";
  display: inline-block;
  background: url("/imgs/decorador-peça.png") no-repeat;
  background-size: contain;
  rotate: -140deg;
  width: 100px;
  height: 100px;
  position: absolute;
  top: -50px;
  right: 20%;
}

.footer-coluna h2 {
  color: #6b6b6b;
  margin-bottom: 16px;
}

.footer-coluna li {
  color: #8f8f8f;
  padding: 8px 0;
}

.footer-copy {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr auto;
  color: #8f8f8f;
}

.copy {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
}

.copy p {
  max-width: 100%;
}

.icones-redes {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 20px;
}

.icones-redes ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.icones-redes img {
  display: block;
  width: 24px;
  height: 24px;
}

@media (max-width: 800px) {
  .footer {
    padding: 60px;
  }
  .footer nav {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .icones-redes {
    grid-template-columns: 1fr;
  }
  .copy {
    gap: 20px;
  }
}
