.header-bg {
  background-color: #fff;
}

.header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 12px 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.header ul {
  max-width: fit-content;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
}

.header li {
  place-self: center;
  padding: 20px;
}

.header li a {
  position: relative;
}

.header li a::after {
  content: " ";
  display: block;
  height: 2px;
  background-color: var(--cor-a3);
  transition: 0.3s;
  width: 0;
  position: absolute;
}

.header li a:hover::after, .header li a.ativo::after {
  width: 100%;
}

.header-botoes {
  display: flex;
  gap: 24px;
}